annotated-types==0.6.0
asttokens==2.4.1
attrs==24.2.0
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
decorator==5.1.1
docstring_parser==0.16
exceptiongroup==1.2.0
executing==2.0.1
flasgger==0.9.7.1
Flask==2.0.3
Flask-HTTPAuth==4.8.0
Flask-JWT-Extended==4.7.1
flask-swagger-ui==4.11.1
google-api-core==2.18.0
google-auth==2.29.0
google-cloud-aiplatform==1.71.1
google-cloud-bigquery==3.20.1
google-cloud-core==2.4.1
google-cloud-resource-manager==1.12.3
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
grpc-google-iam-v1==0.13.0
grpcio==1.62.1
grpcio-status==1.62.1
gunicorn==20.0.4
idna==3.7
ipython==8.23.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mistune==3.0.2
numpy==1.26.4
packaging==24.0
parso==0.8.4
pexpect==4.9.0
prompt-toolkit==3.0.43
proto-plus==1.23.0
protobuf==4.25.3
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
pydantic==2.7.0
pydantic_core==2.18.1
Pygments==2.17.2
PyJWT==2.10.0
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PyYAML==6.0.2
referencing==0.35.1
requests==2.31.0
rpds-py==0.21.0
rsa==4.9
setuptools==75.3.0
shapely==2.0.3
six==1.16.0
stack-data==0.6.3
traitlets==5.14.2
typing_extensions==4.11.0
urllib3==2.2.1
vertexai==1.71.1
wcwidth==0.2.13
Werkzeug==2.2.2
wfastcgi==3.0.0
